<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/header::head"></head>
  <body>
  <th:block th:include="layout/navbar"/>
    <form action="#" th:action="${'/topics/' + topicId + '/courses/' + course.id + '/edit/'}" th:object="${course}" method="post">
      <div class="container">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nameLabel">Name</label>
            <input type="text" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid col-md-6' : 'form-control col-md-6'" id="nameLabel" placeholder="Name Example" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">Name Error</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="descriptionLabel">Description</label>
            <input type="text" th:class="${#fields.hasErrors('description')} ? 'form-control is-invalid col-md-6' : 'form-control col-md-6'" id="descriptionLabel" placeholder="Description example" th:field="*{description}">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">Description Error</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        <button type="submit" class="btn btn-secondary" name="cancel">Cancel</button>
      </div>
    </form>
  </body>
</html>