<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/header::head"></head>
  <body>
    <th:block th:include="layout/navbar"/>
    <div th:if="${not #lists.isEmpty(topics)}">
      <h2>Topics</h2>
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th/>
          <th/>
          <th/>
        </tr>
        <tr th:each="topic : ${topics}">
          <td th:text="${#numbers.formatInteger(topic.id,1)}">Id</td>
          <td th:text="${topic.name}">Name</td>
          <td th:text="${topic.description}">Description</td>
          <td><a th:href="${'/topics/' + topic.id + '/courses'}" class="btn btn-default">Courses</a></td>
          <td><a th:href="${'/topics/edit/' + topic.id}" class="btn btn-default">Edit</a></td>
          <td>
            <form action="#" th:action="${'/topics/delete/' + topic.id}" method="post">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
        </tr>
      </table>
      <a type="button" class="btn" href="#" th:href="@{/topics/add}">Create Topic</a>
    </div>
    <div th:if="${#lists.isEmpty(topics)}">
      <p><a href="#" th:href="@{/topics/add}">Please create a topic</a></p>
    </div>
  </body>
</html>